:root{
  --color-light-pink: #FFB2E6;
  --color-pink: #D972FF;
  --color-purple: #8447FF;
  --color-light-green: #8CFFDA;
  --color-white: #ddd;
  --color-light-gray: #aaa;
  --color-dark-gray: #111;
  --color-black: #000;

  --font-size-base: 16px;
  --font-size-small: 12px;
  --font-size-large: 20px;
  --font-size-heading: 32px;
  --font-size-hero: 44px;

  --spacing-xs: 4px;
  --spacing-sm: 8px;
  --spacing-md: 16px;
  --spacing-lg: 24px;
  --spacing-xl: 32px;
  --spacing-xxl: 44px;
}

.signup-page{
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  padding: 100px var(--spacing-md) 20px;
  overflow: hidden;
  position: relative;
}
.signup-page .circles{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  overflow: hidden;
}
.signup-page .circles div{
  position: absolute;
  width: 30vw;
  height: 30vw;
  min-width: 200px;
  min-height: 200px;
  border-radius: 10000px;
}
.signup-page .circles div:nth-child(1){
  background-color: var(--color-light-green);
  top: 0px;
  left: 10vw;
}
.signup-page .circles div:nth-child(2){
  background-color: var(--color-purple);
  top: 300px;
  right: -10vw;
}
.signup-page .box{
  width: 30em;
  height: fit-content;
  margin: auto;
  background-color: var(--color-dark-gray);
  padding: var(--spacing-xxl);
  border-radius: 20px;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  backdrop-filter: blur(10px);
  background: transparent;
}
.signup-page .box::before{
  content: "";
  position: absolute;
  background-color: var(--color-black);
  width: calc(100% - 20px);
  height: calc(100% - 20px);
  left: 10px;
  top: 10px;
  border-radius: 10px;
  z-index: 1;
}
.signup-page .box::after{
  content: "";
  position: absolute;
  background: linear-gradient(to top, var(--color-purple), var(--color-light-pink));
  width: calc(150%);
  height: calc(40%);
  left: -25%;
  top: 30%;
  border-radius: 25px;
  z-index: 0;
  animation: rotate 5s linear infinite;
}
.signup-page .box>*{
  z-index: 2;
}
.signup-page .box>h1{
  color: var(--color-white);
}
.signup-page .box>p{
  color: var(--color-white);
  margin-top: var(--spacing-md);
  text-align: center;
  line-height: 1.5em;
}
.signup-page .box .signup-form{
  margin-top: var(--spacing-lg);
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  gap: var(--spacing-md);
  width: 100%;
}
.signup-page .box .signup-form .signup-button{
  font-size: var(--font-size-base);
  padding: var(--spacing-sm) var(--spacing-lg);
  border-radius: 10px;
  border: none;
  background-color: var(--color-light-green);font-weight: bold;
  color: var(--color-black);
  transition: 0.1s ease-in-out;
}
.signup-page .box .signup-form .signup-button:hover{
  color: var(--color-light-green);
  background-color: var(--color-black);
  outline: 2px solid var(--color-light-green);
  cursor: pointer;
}
.signup-page .box .signup-form p{
  color: var(--color-white);
  text-align: center;
}
.signup-page .box .signup-form a{
  color: var(--color-white);
}